              h1{
                color: beige;
                background-color: rgb(63, 48, 48);
                font-size: x-large;
                font-family: cursive;
                text-align: center;
            }  
            body{
                background-color: rgb(149, 125, 125);
            }        